{% extends 'base.html.twig' %}
{% block title %}Mes informations{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="h4 mb-3">Mes informations</h1>
        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
        <a class="btn btn-outline-secondary" href="{{ path('app_account') }}">Retour</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
