{% extends 'base.html.twig' %}

{% block title %}Accueil – Maison Vintage{% endblock %}

{% block body %}
    <h1>Bienvenue ✨</h1>
    <p>Choisis une catégorie dans la barre de navigation.</p>
{% endblock %}
