.brand-logo {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.brand-logo img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    display: block;
}
